:root{
 /* --visible-bin: none; */
 --reverse-bin: 0;
 
}
.note-card {
   
  position: relative;
    background-color: aqua;
    padding: 10px;
    margin: 10px;
    transition: 0.3s ease;
    border-radius: 5px;
    display: block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
  input,button{
    border-radius: 10px;
    border-color: #9dbcb1;
    /* scale: calc(1.05); */
  }
  #text-input:hover{
  transform: scale(1.10);
  margin: 5px;
}

.note-card:hover{

    transform: scale(1.03);
     --visible-bin: block;
}

.Easy{
    background-color:#9dbcb1;
}
.Hard{
    background-color: #4f4537;
    color: #d3f4e9;
    --reverse-bin:100%;
    
}
.Medium {
    background-color: #bea888;
}
body{
    background-image:linear-gradient(to right,#faebd7,#ffcdb9 );
    max-width: 550px;
    padding: 10px;
    margin: 0 auto;
    color: #4f4537;
}

.del-bin{
      position: absolute;
  bottom: 14px;
  right: 16px;
  /* font-size: 20px; */
      transition: opacity 0.5s ease;
    max-width: 12px;
    height: auto;
    /* display: var(--visible-bin); */
      opacity: 0;
    padding-top: 5px;
    filter: invert(var(--reverse-bin));
}
.note-card:hover .del-bin {
  opacity: 1;
       
}
.dashboard h1{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 0;
        text-decoration: underline;
        text-shadow: 2px 2px 4px #a5a4a4;
        
}

h2{
        text-shadow: 2px 2px 4px #cdcbcb;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 5px;
}