:root{
 --visible-bin: none;
 --reverse-bin: 0;
 
}
.note-card {
    background-color: aqua;
    padding: 10px;
    margin: 10px;
    transition: 0.3s ease;
    border-radius: 5px;
    display: block;
}

.note-card:hover{
    transform: scale(1.03);
     --visible-bin: block;
}

.Easy{
    background-color:#9dbcb1;
}
.Hard{
    background-color: #4f4537;
    color: #d3f4e9;
    --reverse-bin:100%;
    
}
.Medium {
    background-color: #bea888;
}
body{
    background-image:linear-gradient(to right,#faebd7,#ffcdb9 );
    #faebd7;
    max-width: 550px;
    padding: 10px;
    margin: 0 auto;
    color: #4f4537;
}

.del-bin{
    max-width: 10px;
    height: auto;
    display: var(--visible-bin);
    padding-top: 5px;
    filter: invert(var(--reverse-bin));
}

.dashboard h1{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 0;
        text-decoration: underline;
        
        
}

p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 5px;
}