.note-card {
    background-color: aqua;
    padding: 10px;
    margin: 10px;
    transition: 0.3s ease;
    border-radius: 5px;
}

.note-card:hover{
    transform: scale(1.03);
}

.Easy{
    background-color:aqua;
}
.Hard{
    background-color: red;
}
.Medium {
    background-color: orange;
}
body{
    background-color:antiquewhite;
}